<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <rosparam file="$(find bringup)/config/onetism/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find bringup)/config/onetism/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find bringup)/config/onetism/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find bringup)/config/onetism/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find bringup)/config/onetism/base_local_planner_params.yaml" command="load" />

     <rosparam file="$(find bringup)/config/nav_obstacles_params.yaml" command="load" />
  </node>
  
</launch>
